### This is sample configuration file for generate_slope_image script

[slope_settings]
# Do LSQ median correciton algortihm 
# only for images whose last frame's median is less than DoLSQmedianCorrection value
# Give this number so that it will not be used for non-linear/saturated images
DoLSQmedianCorrection = 30000

# Choose wheter to remove Pedestal or not, based on non-linearity coeffs below
DoPedestalSubtraction = True

# NonLinearCorrCoeff can be Flase or a filename Ex: 'NLC_Ord3_20170728.npy'
NonLinearCorrCoeff = False 

#### Next three parameters are for controlling how much of the up-the-ramp shoulbe be used for slope fitting.
# UpperThreshold can be a number or a filename like UT_20170728.npy
UpperThreshold = 30000 
# If you want to make sure certain regions have same exposure duration provide a RegionMask.npy file below.
# Or simply set it to True for using all of image as region of constant exposure duration .
# Note: This is critical only for precise RV spectroscopy data
ConstantExposureRegion = False
# Percentile of the maximum NDRS used in a region which should be used as the common cut off for rest of the region.
CER_CutoffPercentile = 0.5

# Set the parameter below to save an average up-the-ramp curve for diagnostic in fits output.
# If up-the-ramp samples from multiple regions are needed, provide a SampleRegionMask.npy file below.
AverageUpTheRampDiagnostic = False

# Maximum number of Cosmic rays to be attempted to fix in an image
# Set the value to 0, to disable any CR fix
MaxNoOfCRfix = 5000

# GainEPADU can be a numnber or a filename Ex: Gain_Array.npy
GainEPADU = 2.5 

### Following parameters are used for Slope Error calculation
CalculateVarienceImage = True
# Provide Readnoise in units of counts (ADU)
ReadNoise = 1

[filename_settings]
#Format of the output slopeimage filename with Ramp id substitution
OutputFileFormat = Slope-R{0}.fits

# Any fixed subdirectory to append to InputDirectory containing fits files
# For HPFLinux set InputSubDir = fits/
InputSubDir = ""

# Name of the readout software used.
# Supported Softwares are TeledyneWindows, HPFLinux
ReadoutSoftware = TeledyneWindows
