### This is sample configuration file for generate_slope_image script

[slope_settings]
# Do LSQ median correciton algortihm 
# only for images which for more than 70 percent 
# does not become non-linear/saturated
DoLSQmedianCorrection = True

# Choose wheter to remove Pedestal or not, based on non-linearity coeffs below
DoPedestalSubtraction = True

# NonLinearCorrCoeff can be Flase or a filename Ex: 'NLC_Ord3_20170728.npy'
NonLinearCorrCoeff = False 

# UpperThreshold can be a number or a filename 'UT_20170728.npy'
UpperThreshold = 40000 

### Following parameters are used for Slope Error calculation
# GainEPADU can be a numnber or a filename Ex: 'Gain_Array.npy'
GainEPADU = 2.5 

ReadNoise = 1
